body {
    background-color: thistle;
    margin: 0;
}

[hidden] {
    display: none !important;
}

.mulish-normal {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.mulish-light {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 10;
    font-style: normal;
}

.button {
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
    padding: 15px;
    text-align: center;
    display: inline-block;
    border-radius: 15px;
    text-decoration: none;
    color: black;
    border: 0;
    font-size: 1rem;
    box-sizing: border-box;
}

.primaryButton {
    background-image: linear-gradient(
        45deg,
        rgb(148, 207, 238),
        rgb(185, 114, 201)
    );
}

.redButton {
    background-image: linear-gradient(
        45deg,
        rgb(249, 181, 181),
        rgb(143, 15, 15)
    );
}

.halfButton {
    width: 45vw;
    margin-left: calc(2.5vw - 1px);
    margin-right: calc(2.5vw - 1px);
}

.time {
    text-align: center;
    font-size: 5rem;
}

.select {
    text-align: center;
    padding: 10px 1rem 10px 1rem;
    width: 10rem;
    background-color: transparent;
    border: 0;
    margin: 0 calc(50vw - 5rem - 1rem) 2rem calc(50vw - 5rem - 1rem);
}
